@black: #1f1e1e;
@black_80: fade(@black, 80%);
@gray: #DEDEDE;
@white: #FFFFFF;

@red: #BC3324;

@font: "Roboto", sans-serif;
@font_size: 16px;
@fonts_size_s: (@font_size / 1.25);

@font1: "Open Sans", serif;
@font2: "Lora", serif;