.extra-services {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 1414px;
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;
    &__title {
        max-width: 625px;
        padding: 16px 50px;
        font-size: 22px;
        font-weight: 400;
        line-height: 30px;
        margin: 100px auto 150px;
    }
    &__p {
        max-width: 868px;
        margin: 0;
    }

}
