.offers {
    &__title {
        margin: 0  0 46px;
        margin-left: 18px;
        font-size: 22px;
        font-weight: 400;
        font-family: @font2;
    }
    &__btns {
        display: flex;
        justify-content: center;
        gap: 106px;
    }
    // &__btn {

    // }
}
