* {
    margin: 0px;
    padding: 0px;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.head {
    box-sizing: border-box;
    padding: 0 293px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 147px;
    width: 100%;
    background-color: #DEDEDE80;
}


.btn {
    width: 131px;
    height: 52px;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 500;
}



ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: space-between;
    width: 457px;
    height: 25px;
    color: #1F1E1E;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 500;
}

a {
    text-decoration: none;
    color: inherit;
}
